@model IEnumerable<LoginCliente.Models.EntradaProduto>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/StyleIndex.css" />
<h1>Entrada de Produtos</h1>

<p>
    <a asp-action="Create">Adicionar Entrada</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntradaProdutoEstoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntradaProdutoEstoque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEntrada)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detatlhes</a>
            </td>
        </tr>
}
    </tbody>
</table>
